.header{
    background-color:#2D394B ;
    padding: 5px 0;
    display: flex;
    align-items: center;
    color: white;
}
.text-logo{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.741);
    cursor: pointer;
}
.text-logo:hover{
    color: rgb(49, 77, 128);
}
.nav-link{
    color:rgba(245, 245, 245, 0.761);
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logoutBtn{
    background-color: #2D394B;
    color:rgba(245, 245, 245, 0.761) ;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.nav-link:hover{
    color: rgb(49, 77, 128);
    transform: scale(1.2);

}
.user-name{
    color:skyblue;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}

