.header{
    background-color:whitesmoke ;
    padding: 5px 0;
    /* height: 100px; */
    display: flex;
    align-items: center;
    color: white;
}
.nav-link:hover{
    background-color: lightgray;
    border-radius: 5%;
}
